{{!

  This sub template renders Employee's allowance breakdown.

  It relies on following entries in context:

    * user_allowance - an object representing current employee's allowance

}}

<dl>
  <dt>Opbouw van uw tegoed
    <i class="fa fa-question-circle"
      data-content="Dit is een overzicht hoe uw totaal tegoed wordt berekend, zweef met de muis over een punt voor meer uitleg"
      data-placement="top"
      data-toggle="popover"
      data-trigger="focus hover"
    ></i>
  </dt>
    <dd>
      <em>Normaal tegoed </em>
      <span class="pull-right"
        data-content="Normaal tegoed van de huidige afdeling"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id='nominalAllowancePart'
      >{{ user_allowance.nominal_allowance }}</span>
    </dd>
    <dd>
      <em>Overgedragen van {{#if previous_year}}{{previous_year}}{{else}}vorig jaar{{/if}}</em>
      <span class="pull-right"
        data-content="Tegoed overgezet van vorig jaar. opm: Dit wordt automatisch berekend op de eerste dag van het nieuwe jaar."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id="allowanceCarriedOverPart"
      >{{ user_allowance.carry_over }}</span>
    </dd>
    <dd>
      <em>Individuele aanpassingen</em>
      <span class="pull-right"
        data-content="Aanpassingen gemaakt door beheerder"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.manual_adjustment }}</span>
    </dd>
    <dd>
      <em>Al 1 volledig jaar gewerkt?</em>
      <span class="pull-right"
        data-content="Vermindering indien er vorig jaar nog geen volledig jaar werd gewerkt"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.employement_range_adjustment }}</span>
    </dd>
    <dd>
      <em>Momenteel opgebruikt</em>
      <span class="pull-right"
        data-content="Aantal dagen die al zijn opgebruikt"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{#if_equal user_allowance.number_of_days_taken_from_allowance 0}}{{else}}-{{/if_equal}}{{ user_allowance.number_of_days_taken_from_allowance}}</span>
    </dd>
    {{# if user_allowance.is_accrued_allowance }}
      <dd>
        <em>Momenteel vastgezet</em>
        <span class="pull-right"
          data-content="Aantal dagen die nog vrij gaan komen dit jaar door opbouw"
          data-placement="top"
          data-toggle="popover"
          data-trigger="focus hover"
        >{{ user_allowance.accrued_adjustment }}</span>
      </dd>
    {{/ if}}
</dl>
