
<form method="POST" action="/users/edit/{{employee.id}}/">

<div class="col-md-7">

  {{> user_details/breadcrumb employee=employee }}

  <div class="form-group">
    <label for="name_inp" class="control-label">Voornaam</label>
    <input class="form-control" id="name_inp" name="name" required value="{{employee.name}}">
  </div>

  <div class="form-group">
    <label for="lastname_inp" class="control-label">Achternaam</label>
    <input class="form-control" id="lastname_inp" name="lastname" required value="{{employee.lastname}}">
  </div>

  <div class="form-group">
    <label for="email_inp" class="control-label">Email ares</label>
    <input class="form-control" id="email_inp" type="email" name="email_address" required value="{{employee.email}}" aria-describedby="email_help">
    <span id="email_help" class="help-block">Email adres van deze werknemer</span>
  </div>

  <div class="form-group">
    <label for="select_inp" class="control-label">Afdeling</label>
    <select class="form-control" id="select_inp" name="department" aria-describedby="department_help">
      {{#each departments}}
          <option value="{{this.id}}" {{#if_equal ../employee.DepartmentId this.id}} selected="selected"{{/if_equal}}>{{this.name}} (approver {{this.boss.name}} {{this.boss.lastname}})</option>
      {{/each}}

      {{!AFDELING = GEEN (afdelingID=0) onder companyID=0 () --> verborgen afdeling waar watchers kunnen worden toegevoegd}}
      {{#with employee}}
      <option value="0" {{#if_equal ../employee.DepartmentId 0}} selected="selected"{{/if_equal}}>geen</option>
      {{/with}}
    </select>
    <span id="department_help" class="help-block">Afdeling waartoe de werknemer behoort. <a href="/settings/departments/edit/{{employee.DepartmentId}}">Meer gegevens <i class="fa fa-angle-double-right"></i></a></span>
  </div>

  <div class="form-group">
      <label for="admin_inp" class="control-label">
        <input class="" id="admin_inp" name="admin" type="checkbox" {{# if employee.admin}} checked="checked"  {{/if}} >
        Is beheerder
      </label>
  </div>

  <div class="form-group">
      <label for="auto_approve_inp" class="control-label">
        <input class="" id="auto_approve_inp" name="auto_approve" type="checkbox" {{# if employee.auto_approve}} checked="checked"  {{/if}} >
        Auto goedkeuren van aanvragen
      </label>
      <span class="help-block">Aanvinken om aanvragen van {{#with employee}}{{this.full_name}}{{/with}} automatisch over te zetten naar <strong>Approved</strong></span>
  </div>

  <div class="form-group">
    <label for="start_date_inp" class="control-label">Begonnen op</label>
    <div class="input-group col-md-4">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control" id="start_date_inp" type="text" name="start_date" required data-date-autoclose="1" data-provide="datepicker" data-date-format="{{#with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date employee.start_date}}" aria-describedby="start_date_help">
    </div>
    <span id="start_date_help" class="help-block">Datum waarop de werknemer is gestart</span>
  </div>

  <div class="form-group">
    <label for="end_date_inp" class="control-label">Gestopt op</label>
    <div class="input-group col-md-4">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control" id="end_date_inp" type="text" name="end_date" data-date-autoclose="1" data-provide="datepicker" data-date-format="{{#with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date employee.end_date}}" aria-describedby="end_date_help">
    </div>
    <span id="end_date_help" class="help-block"><div>Datum waarop de gebruiker het bedrijf {{ company.name }} heeft verlaten.</div><div>Na deze datum kan de werknemer niet meer inloggen.</div><div>Hierdoor wordt de account uitgeschakeld.</div></span>
  </div>

  <div class="form-group">
    <label for="password_inp" class="control-label">Wachtwoord</label>
    <input class="form-control" id="password_inp" type="password" name="password_one" value="" {{#if company.ldap_auth_enabled}} readonly {{/if}} aria-describedby="password_inp_help">
    <span id="password_inp_help" class="help-block">
      {{# if company.ldap_auth_enabled }}
        <a href="/settings/company/authentication/">LDAP authentificatie</a> wordt gebruikt, dus wachtwoord is uitgeschakeld.
      {{else}}
        Het is mogelijk om het wachtwoord aan te passen.
      {{/ if}}
    </span>
  </div>

  <div class="form-group">
    <label for="password_inp" class="control-label">Bevestig wachtwoord</label>
    <input class="form-control" id="confirm_password_inp" type="password" name="password_confirm" value="" {{# if company.ldap_auth_enabled}}readonly{{/if}}>
  </div>

  <div class="form-group">
    <label for="link_to_email_audit" class="control-label">
      <a href="/audit/email/?user_id={{employee.id}}">Alle emails die ooit werden verzonden naar {{#with employee}}{{this.full_name}}{{/with}}</a>
    </label>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button id="save_changes_btn" type="submit" class="btn btn-success pull-right single-click">Wijzigingen opslaan</button>
    <a class="btn btn-link pull-right" href="/users/">Annuleren</a>
  </div>
</div>

</form>
