Nieuwe account voor {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Hallo <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> heeft juist een nieuwe account voor u aangemaakt bij <strong>{{company.name}}</strong>.</p>

<p>Gelieve <strong>{{admin_user.name}}</strong> te contacteren voor uw gebruikersnaam en wachtwoord ivm {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Anders kan u onderstaande link gebruiken om een nieuw wachtwoord in te stellen.

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Set new password'}}
{{/ with }}

</p>

<p>Alvast bedankt</p>
