
{{> header }}

<h1>Mijn feeds</h1>

<p class="lead">Feeds voor externe kalenders</p>

{{> show_flash_messages }}

<div class="row">

  <div class="col-md-6">

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Deel uw kalender met externe kalenders, zoals outlook of google kalender</p>

        <p class="description-paragraph">We provide following streams from:</p>
        <p class="description-paragraph">
          <a href="/calendar/">Mijn kalender</a> pagina - data van Mijn kalender
        </p>
        {{# unless keep_team_view_hidden}}
        <p class="description-paragraph">
          <a href="/calendar/teamview/">Afdelingsovericht</a> pagina - data van Afdelingsoverzicht voor deze maand
        </p>
        {{/ unless}}

        <p class="description-paragraph">Om een bepaald zicht te exporteren, klik op de link.</p>

        <p class="description-paragraph">Anders kan u de link kopieren en plakken.</p>

      </div>
    </div>

    <div class="row feeds-holder">

      <div class="col-md-5 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">Mijn kalender feed <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

      {{# unless keep_team_view_hidden }}
      <div class="col-md-5 col-md-offset-2 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Afdelingsoverzicht feed <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>
      {{/ unless }}

    </div>
  </div>


  <div class="col-md-6">
    <div class="row feed-calendar-big-picture-holder">
      <i class="fa fa-calendar feed-calendar-big"></i>
    </div>
  </div>



</div>

{{> footer }}
