
<div>
  <strong>Naam:</strong> {{userFullName}}.
</div>
<div>
  <strong>Afdeling:</strong> {{departmentName}}.
</div>
{{#if userAllowance }}
  <div>
    <strong>Beschikbaar:</strong> {{userAllowance.number_of_days_available_in_allowance}} dag/dagen van de {{userAllowance.total_number_of_days_in_allowance}}.
  </div>
{{/if}}
{{#if supervisorNames}}
  <div>
    <strong>Goedkeurders:</strong>
    <ul>
      {{#each supervisorNames}}<li>{{this}}{{#unless @last}},{{/unless}}</li>{{/each}}
    </ul>
  </div>
{{/if}}
