
{{#if limitedView}}
  <div>
    <strong>Datums:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>Werknemer:</strong> {{leave.employeeFullName}}.
  </div>
{{else}}
  <div>
    <strong>Datums:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>Soort:</strong> {{leave.type}}.
  </div>
  <div>
    <strong>Status:</strong> {{leave.status}}.
  </div>
  <div>
    <strong>Werknemer:</strong> {{leave.employeeFullName}}.
  </div>
  <div>
    <strong>Opgebruikte dagen:</strong> {{leave.deductedDays}}.
  </div>
  <div>
    <strong>Goedgekeurd door:</strong> {{leave.approver}}.
  </div>
  <div>
    <strong>Aangevraagd op:</strong> {{leave.createdAt}}.
  </div>
  {{#if leave.commentsString }}
  <div>
    <strong>Opmerkingen:</strong> {{leave.commentsString}}.
  </div>
  {{/if}}
{{/if}}
